<div class="poppupFinish__layover" (click)="restartGame()"></div>
<div class="poppupFinish">
  <p class="poppupFinish__headingTwo">Game has ended!</p>
  <p class="poppupFinish__headingThree" *ngIf="!playersInfo?.winner">
    There is no winner
  </p>
  <p class="poppupFinish__headingThree" *ngIf="playersInfo?.winner">
    <!-- TODO: this is not the actual winner -->
    The winner is: <span class="poppupFinish__winner">{{ playersInfo?.firstPlayer }}</span>
  </p>
  <button class="poppupFinish__restart" (click)="restartGame()">
    Play Again
  </button>
</div>
