<div class="poppupFinish__layover" (click)="restartGame()"></div>
<div class="poppupFinish">
  <p class="poppupFinish__headingTwo">Game has ended!</p>
  <p class="poppupFinish__headingThree" *ngIf="!playersInfo?.winner">
    There is no winner
  </p>
  <p class="poppupFinish__headingThree" *ngIf="playersInfo?.winner">
    The winner is:<span
      [ngClass]="[
        playersInfo?.winnersPiece === 'cross' ? 'poppupFinish__winner cross' : 'poppupFinish__winner disk']">
      {{ playersInfo?.winnersName }}
    </span>
  </p>
  <button class="poppupFinish__restart" (click)="restartGame()">
    Play Again
  </button>
</div>

<!-- The winner is:<span class="poppupFinish__winner">{{ playersInfo?.winnersName }}</span> -->

