.wrapper {
  position: relative;
  margin-top: -169px;
  width: 165px;
  height: 165px;
}

.cross {
  width: 165px;
  height: 165px;
  transform: rotate(-45deg);
}

.cross-first,
.cross-second {
  position: absolute;
  width: 15px;
  height: 150px;
  background-color: var(--body-cross);
  border: 10px solid var(--border-cross);
  border-radius: 8px;
  top: 5px;
  left: 65px;
}

.cross-second {
  transform: rotate(-90deg);
}
