.wrapper {
  position: relative;
  width: 140px;
  height: 140px;

  @media only screen and (max-width: 530px) {
    width: 4vw;
    height: 4vw;
  }
}

.cross {
  width: 140px;
  height: 140px;
  transform: rotate(-45deg);

  @media only screen and (max-width: 530px) {
    width: 4vw;
    height: 4vw;
  }
}

.cross-first,
.cross-second {
  position: absolute;
  width: 15px;
  height: 150px;
  background-color: var(--body-cross);
  border: 10px solid var(--border-cross);
  border-radius: 8px;
  top: -8px;
  left: 57px;

  @media only screen and (max-width: 530px) {
    width: 2vw;
    height: 27vw;
    top: -4vw;
    left: 8vw;
    border: 5px solid var(--border-cross);
  }
}

.cross-second {
  transform: rotate(-90deg);
}
