.main {
  display: grid;
  justify-content: center;
  text-align: center;
}

.main-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  margin: 2rem 0 0 0;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.grid {
  display: grid;
  border: 1px solid var(--blue);
  align-items: center;
  background-color: var(--white);

  &:hover {
   background-color: var(--light-blue);
   border-radius: 5px;
  }
}

.one,
.two,
.three {
  border-top: none;
}

.one,
.four,
.seven {
  border-left: none;
}

.seven,
.eight,
.nine {
  border-bottom: none;
}

.three,
.six,
.nine {
  border-right: none;
}
