<main class="main">
  <h1>Tic Tac To</h1>

  <div *ngIf="playersData.startGame" class="resetGame">
    <button class="button__resetGame" (click)="restart()">Reset Game</button>
  </div>

  <div *ngIf="playersData.startGame" class="player">
    <p *ngFor="let player of players; let i = index" class="player__p">
      <span [ngClass]="i === 0 ? 'active__cross' : 'active__disk'">
        Player {{ i === 0 ? 'One &cross;' : 'Two &#9918;' }}</span
      >{{ player }}
    </p>
  </div>

  <app-playersform *ngIf="!playersData.startGame"></app-playersform>

  <div class="main-board" *ngIf="playersData.startGame">
    <button
      *ngFor="let boardSquare of boardData.boardsQuares"
      (click)="handleMove(boardSquare.id)"
      [disabled]="!boardSquare.clickable"
      class="grid {{ 'square' + boardSquare.id }}"
      id="{{ boardSquare.id }}">
      <app-disk
        *ngIf="boardSquare.disk"
        id="{{ 'disk' + boardSquare.id }}"></app-disk>
      <app-cross
        *ngIf="boardSquare.cross"
        id="{{ 'cross' + boardSquare.id }}"></app-cross>
    </button>
  </div>
  <app-finish
    *ngIf="boardData.gameFinished"
    (newItemEvent)="restart()"></app-finish>
</main>
