.wrapper {
  position: relative;
  width: 140px;
  height: 140px;
}

.disk {
  position: absolute;
  top: 0;
  left: 6px;
  width: 125px;
  height: 125px;
  border: 10px solid var(--border-disk);
  border-radius: 50%;
  background-color: var(--body-disk);
}
