.wrapper {
  position: relative;
  margin-top: -169px;
  margin-left: 167px;
  width: 165px;
  height: 165px;
}

.disk {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 135px;
  height: 135px;
  border: 2px solid var(--border-disk);
  border-radius: 50%;
  background-color: var(--body-disk);
}
