.wrapper {
  position: relative;
  width: 140px;
  height: 140px;

  @media only screen and (max-width: 530px) {
    width: 4vw;
    height: 4vw;
  }
}

.disk {
  position: absolute;
  top: 0;
  left: 6px;
  width: 125px;
  height: 125px;
  border: 10px solid var(--border-disk);
  border-radius: 50%;
  background-color: var(--body-disk);

  @media only screen and (max-width: 530px) {
    top: -10vw;
    left: 1.3vw;
    width: 23vw;
    height: 23vw;
    border: 5px solid var(--border-disk);
  }
}
